# macOS
.DS_Store

# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
db.sqlite3
media/
staticfiles/

# Virtual env
.venv/
env/
venv/

# Node / Vite
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
